{% extends "__base.html" %}
{% load i18n %}

{% block title %}{% trans "Update Profile" %} &ndash; {{ block.super }}{% endblock title %}

{% block main %}
    <h3>{% trans "Update Profile" %} <small><a href="{% url 'profile:user-profile' %}">{{ user.username }}</a></small></h3>
    <form action="{% url 'profile:user-profile-update' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% include "_input_grid.html" with form=user_profile_form.management_form %}
        {% include "_input_grid.html" with form=user_form %}
        {% include "_input_grid.html" with form=user_profile_form form_update=True submit_text=_('Update') %}
    </form>

{% endblock %}